<!DOCTYPE html>
<html>
  <head>
    <title>The Members - ITKMITL Multimedia Programming 2563</title>
    <style>
      .select:hover{
        cursor: pointer;
        background-color:grey;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="lab.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div id="app">
        <h3 style="font-size: 2.4vw;">Class List in FFXIV :</h3>
        <div class="row">
          <div class="col-md-3" style="height: 55vw; overflow-y: scroll;">
            <div v-for="classFF in classes" class="select" @click="arraySkill(`https://xivapi.com${classFF.Url}`)">
              <img :src="`https://xivapi.com${classFF.Icon}`" width="50vw" />
              {{classFF.Name | capitalize}}
            </div>
          </div>
          <div style="background-color: lightblue; height: 55vw; overflow-y: scroll;" class="col-9 d-flex justify-content-center align-items-center">
            <!--Content Skill when click class-->
            <div v-if='load == true' class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class='row'>
            <div v-if='load == false'>
              <div v-for="skill in skillName" class="col-3">
              {{skill}} <br>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      //@click="arraySkill(classFF.ID)"
      // fetch("https://jsonplaceholder.typicode.com/users")
      //   .then((response) => response.json())
      //   .then((json) => {
      //     app.users = json;
      //   });
      fetch("https://xivapi.com/ClassJob", { mode: "cors" })
        .then((response) => response.json())
        .then((data) => {
          app.classes = data.Results;
          // console.info(data.Results);
        });
        //v-bind:id="https://xivapi.com/ClassJob/classFF.ID"
      let app = new Vue({
        el: "#app",
        // data:{
        //   address:"https://xivapi.com/ClassJob/"
        // },
        methods: {
          arraySkill: function (url) {
            this.skillName = []
            this.load = true
            fetch(url, { mode: "cors" })
              .then((response) => response.json())
              .then((data) => {
                this.skillList = data.GameContentLinks.Action.ClassJob;
                // console.info(data.Results);
              }).then(()=>{
                this.showSkill(this.skillList);
              });
          },
          showSkill: function(arrayInput){
            // setTimeout(()=>{
            //   this.load = false
            // },1000)
            var second = 3000;
            var posArray = 0;
            var perLoop = arrayInput.length / 9
            console.log(Math.ceil(perLoop),arrayInput)
            for(var x = 1; x <= Math.ceil(perLoop); x++ ){
              setTimeout(()=>{
                for(var y = posArray; y <= posArray + 8 ; y++){
                  if (arrayInput[y] == undefined){
                    break;
                  }
                  console.log(arrayInput[y])
                   fetch('https://xivapi.com/Action/'+ arrayInput[y], { mode: "cors" })
              .then((response) => response.json())
              .then((data) => {
                console.log(data.Name_en)
                this.skillName.push(data.Name_en);
                });
              } 
              if (x == Math.ceil(perLoop) + 1) {
                  this.load = false
                  console.log("Success")
                }else{
                  console.log(x,Math.ceil(perLoop))
                }
              },second)
              posArray += 9
              second += 4000
              
            }
            // fetch('https://xivapi.com/Action/'+number, { mode: "cors" })
            //   .then((response) => response.json())
            //   .then((data) => {
            //     console.log(data.Name_en)
            //     // console.info(data.Results);
            //     return (`<div>${ data.Name_en }</div>`)
            //   });
          }
        },
        filters: {
          capitalize: function (value) {
            if (!value) return "";
            value = value.toString();
            return value.charAt(0).toUpperCase() + value.slice(1);
          },
        },
        data: {
          load: false,
          classes: [],
          skillList: [],
          skillName: [],
          // person: {
          //   id: 0,
          //   name: "..loading",
          //   username: "..loading",
          //   email: "..loading",
          //   website: "..loading",
          //   company: {
          //     name: "..loading",
          //   },
          // },
        },
      });
    </script>
  </body>
</html>
